:root{
    --bg-dark:150, 110, 85;
    --bg-light:210,170,145;
    --text-dark:192, 0, 0;
    --text-light:255,255,255;
}

*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;

    /* border:1px solid red; */
}

body{
    /* Font*/
    /* font-family:'Raleway', sans-serif; */
    color:rgb(var(--text-light));
    background-color:rgb(var(--bg-dark));
    /* Grid */
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'navbar' 'main' 'foot';
    align-items:center;
    justify-items:center;

    height:100vh;
    width:100vw;
    min-width:320px;
}

a{
    text-decoration:none;
    color:rgb(var(--text-dark));
}

a:hover{
    color:rgb(var(--text-light));
}

.nav-bar{
    grid-area:'navbar';
    display:flex;
    justify-content:space-between;
    align-items:center;
    align-self:start;
    width:100%;
    padding:0px 10px;
}

.nav-bar, footer{
    background-color:rgb(var(--bg-light));
    color:rgb(var(--text-dark));
    background-image: 
        linear-gradient(rgba(255,255,255,0.5), rgba(0,0,0,0) 8px),
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0) 8px);
    width:100%;
}

footer{
    line-height:40px;
    text-align:center;
}
.nav-brand{
    font-size:24px;
    font-weight:lighter;
    line-height:40px;
    text-decoration:none;
}

.nav-list{
    display:flex;
    justify-content:space-around;
    list-style-type: none;
    font-family:'Raleway', sans-serif;
    margin:10px 0px;
}

.nav-item{
    padding:0px 20px;
    height:20px;
    line-height:20px;
}

main{
    grid-area:'main';
    display:grid;
    grid-template-columns: 1fr 2fr;
    height:100%;
    width:100%;
    margin:0 20px;
    overflow:hidden;
    align-items:center;
    justify-items:center;
    background-color:rgb(var(--bg-dark))
}

.img-div img{
    width:90%;
    object-fit:cover;
}

.img-div{
    display:flex;
    align-items:center;
    justify-items:center;
    width:100%;
    height:100%;
    margin-left:20px;
}

.txt-div{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    height:50%;
    align-items:center;
    justify-items:center;
    color:rgb(var(--text-light))
}

.auth-form{
    color:rgb(var(--text-light));
    display:flex;
    flex-direction:column;
    gap:40px;
    align-items:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
}

.img-right{
    width:90%;
    max-width:625px;
    object-fit:cover;
    margin-right:20px;
}

@media screen and (max-width:600px){

    .nav-bar{
        flex-direction:column;
    }

    .nav-list{
        margin-top:0;
    }
}